.attributes-table {
  width: 100%;
  border-spacing: 0;
}

.attributes-table td,
.attributes-table th {
  width: 50%;
  border-bottom: 2px solid lightgray;
  padding: 12px 0;
  text-align: left;
}

.attributes-table td:nth-child(even) {
  padding-left: 12px;
}

.attributes-table tr:last-child td {
  border-bottom: none;
}
